@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
h2 {
    text-align: center;
}
li {
    list-style: none;
}
button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #64ffda;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
img:hover{
    scale: 1.5;
    transition: scale 0.5s;
}
li:nth-child(1){
    font-weight: bold;
    text-transform: uppercase;
}
li {
    text-align: center;
}
.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 350px;
    padding: 2rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-size: 1.2rem;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center


}
.fa-solid {
    font-size: 1.2rem;
    color: #F30067;
    padding-right: 1rem;
}

button:hover  {
    background-color: #F30067;
    color: white;
    border: none;

}